@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
}
header .inner{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}
header h1{
    width: 115px;
    height: 30px;
    float: left;
    margin-top: 25px;
}
nav{
    float: right;
}

nav .mainMenu{
    width: 130px;
    float: left;
    text-align: center;
    line-height: 80px;
}

nav .mainMenu a{
    width: 100%;
    display: block;
    color: rgb(0, 143, 131);
    font-weight: 700;
}
nav ul > .mainMenu:hover > a{
    color: orange;

}
nav .subMenu li a{
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
nav .subMenu li a:hover{
    background-color: #098e59;
    color: #fff;
}
header::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    top: 78px;
    left: 0;
}
#main{
    padding-top: 80px;
}
#main img{
    width: 100%;
}
aside {
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -220px;
    width: 220px;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 1px solid red;
    box-sizing: border-box;
}
aside nav{
margin-top: 20px;
}
aside div img{
width: 180px;
margin-bottom: 30px;
}
aside nav a{
display: block;
width: 180px;
height: 36px;
border: 1px solid #ddd;
text-align: center;
line-height: 36px;
margin-bottom: 5px;
color: rgb(0, 143, 131);
font-weight: 700;
}
aside nav a:hover{
    background: #333;
    color: #fff;
}
aside button{
display: block;
width: 52px;
height: 132px;
position: absolute;
top: 150px;
left: -52px;
background: #fff;
border: 1px solid #ddd;
border-right: 0;
cursor: pointer;
}
aside button:hover{
    background: rgba(0, 0, 0, 0.2)
}